h1 {color: blue}
.titleClass {font-size: 500%}
.titleClass{border-radius: 15px;}
h1:hover{
  color:red;
}
h1{
  transition: property duration timing-function delay;}
h2{
  animation-iteration-count:2;
}
h2{
  @keyframes translate{
  from {property: value;}
  to {property: value;}
    button: active {
      background-color: blue;
    }
    
    h1: hover {
      font-size: 100px;
    }
   
    h1: visited {
      color: green;
    }